# Server
NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=yaqiz_db
DB_USER=yaqiz_user
DB_PASSWORD=CHANGE_THIS_PASSWORD

# JWT -- generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=GENERATE_RANDOM_128_CHAR_SECRET
JWT_REFRESH_SECRET=GENERATE_DIFFERENT_RANDOM_128_CHAR_SECRET

# CORS
ALLOWED_ORIGINS=https://yourdomain.com

# ZATCA
ZATCA_ENV=mock

# Moyasar — اطلب المفاتيح من dashboard.moyasar.com
MOYASAR_PUBLISHABLE_KEY=pk_test_YOUR_KEY_HERE
MOYASAR_SECRET_KEY=sk_test_YOUR_KEY_HERE
APP_URL=https://yaqiz.me
